<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
</head>
<body>
    <h1>Supermarket Disponibili</h1>     
    <table>
        <thead>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Indirizzo</th>
        </thead>
        {% for market in arrayMarkets %}
            <tr>
                <td>{{ market.denominazione }}</td>
                <td>{{ market.tipologia }}</td>
                <td>{{ market.indirizzo }}</td>
                <td><a href="{{ path('market', {'id': market.id}) }}"> Entra a fare la spesa! </a></td>
            </tr>
        {% endfor %} 
    </table>
</body>
</html>

