<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/css.css') }}">
    <title>Market</title>
</head>
<body>
    <h1>Supermarket X</h1>     
    <table>
        <thead>
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th>Aggiungi</th>
        </thead>
        {% for product in arrayProducts %}
            <tr>
                <td>{{ product.descrizione }}</td>
                <td>{{ product.prezzo }}</td>
                <td><a href="{{ path('cart', {'id': product.id}) }}"> Aggiungi alla spesa! </a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>